.button{
    background-color: #04AA6D;
     border: none;
     color: white;
     padding: 20px;
    text-align: center;
    text-decoration: none;
     display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    border-radius: 5px;
}
.text{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: cadetblue;
}